.Test13{width: 600px; margin: 20px;}
.Test13 h2{font-size: 30px;}
.Test13 table{width: 100%;border-collapse: collapse;}
.Test13 table .w1{width: 10%;}
.Test13 table .w2{width: 20%;}
.Test13 table .w3{width: 20%;}
.Test13 table .w4{width: 20%;}
.Test13 table .w5{}
.Test13 table th, .Test13 table td{height:40px; text-align: center;vertical-align: middle;border: 1px solid #999;}
.Test13 table thead {}
.Test13 table thead th{border-top: 2px solid #000;}
.Test13 table tbody{}
.Test13 table tbody td{}